<div>
    <div class="modal" style="height:50%;width:80%; margin:0 auto; botton: auto" id="branchEditModalLabel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Distribution Schedule
                </h4>
            </div>
            <div class="modal-body">
                <table style="width: 100%">
                    <tr>
                        <td>title</td>
                        <td>body</td>
                        <td>phone</td>
                        <td>预约时间</td>
                        <td>branch name</td>
                        <td>操作</td>
                    </tr>
                    <tr ng-repeat="e in schedule">
                        <td style="display: none">{{$index + 1}}</td>
                        <td><input type="text" style="width:200px;height:35px" ng-model="e.title"/></td>
                        <td><input type="text" style="width:200px;height:35px" ng-model="e.body"/></td>
                        <td><input type="text" style="width:200px;height:35px" ng-model="e.phone"/></td>
                        <td style="height: 30px">
                            <input class="form-control"
                                   format="YYYY-MM-DD"
                                   ng-model="e.startTime"
                                   moment-picker="ctrl.datepicker"
                                   ng-model-options="{ updateOn: 'blur' }" style="width:200px;height:35px">
                        </td>
                        <td style="width:200px;height:35px">
                            <select ng-model="e.rowId" style="width:200px;height:35px" >
                                <option ng-repeat="x in branchList" ng-value="x.id" >{{x.userName}}</option>
                            </select>
                        </td>
                        <td style="height: 30px"><button type="button" style="height: 30px" class="btn btn-primary" ng-click="submitUpdate($index)">submit</button></td>
                        <td><input type="text" ng-model="e.itemId" style="display: none" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="closeEditTemplate()">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="saveTemplate()">保存
                </button>
            </div>
        </div>
    </div>
</div>
