<div>
    <div class="modal" style="height:50%;width:80%; margin:0 auto; botton: auto" id="branchModalLabel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    分行日程
                </h4>
                <button type="button" class="close" ng-click="closeTemplate()" style="width: auto">
                    &times;
                </button>
                <!--<button class="btn btn-primary" ng-click="addSchedule()">分配日程</button>-->
            </div>
            <div class="modal-body">
                <table style="width: 100%">
                    <tr>
                        <td>序号</td>
                        <td>分行名称</td>
                        <td>分行级别</td>
                        <td>完成</td>
                        <td>未完成</td>
                        <td>失败</td>
                        <td>合计</td>
                        <td>操作</td>
                    </tr>
                    <tr ng-repeat="e in schedule">
                        <td>{{$index + 1}}</td>
                        <td><input type="text" ng-model="e.NAME" style="width:200px;height:35px" disabled="disabled"/></td>
                        <td><input type="text" ng-model="e.LEVEL" style="width:200px;height:35px"  disabled="disabled"/></td>
                        <td><input type="text" ng-model="e.finish"  style="width:200px;height:35px" disabled="disabled"/></td>
                        <td><input type="text" ng-model="e.unfinished" style="width:200px;height:35px" disabled="disabled"/></td>
                        <td><input type="text" ng-model="e.fail" style="width:200px;height:35px" disabled="disabled"/></td>
                        <td><input type="text" ng-model="e.total" style="width:200px;height:35px" disabled="disabled"/></td>
                        <td><button type="button" class="btn btn-primary" ng-click="branchScheduleInfo($index)">▼</button></td>
                        <td><input type="text" ng-model="e.id" style="display: none" /></td>

                    <table style="width: 80%" ng-show="isShow">
                        <tr>
                            <td>    </td>
                            <td>人员名称</td>
                            <td>标题</td>
                            <td>内容</td>
                            <td>开始时间</td>
                            <td>结束时间</td>
                            <td>状态</td>
                            <td>操作</td>
                        </tr>
                    <tr ng-repeat="x in branchStaffList" >
                    <td></td>
                    <td><input type="text" ng-model="x.userName" style="width:200px;height:35px" disabled="disabled"/></td>
                    <td><input type="text" ng-model="x.title" style="width:200px;height:35px" disabled="disabled"/></td>
                    <td><input type="text" ng-model="x.body" style="width:200px;height:35px" disabled="disabled"/></td>
                    <td><input type="text" ng-model="x.startTime" style="width:200px;height:35px"  disabled="disabled"/></td>
                    <td><input type="text" ng-model="x.endTime" style="width:200px;height:35px" disabled="disabled"/></td>
                    <td>
                        <input type="text" ng-if="x.TYPE==0" style="width:200px;height:35px" value="complete" disabled="disabled"/>
                        <input type="text" ng-if="x.TYPE==1" style="width:200px;height:35px" value="failed" disabled="disabled"/>
                        <input type="text" ng-if="x.TYPE==2" style="width:200px;height:35px" value="uncomplete" disabled="disabled"/>
                    </td>
                    <td><button type="button" class="btn btn-primary" ng-click="deleteProj($index)">╳</button></td>
                </tr>
                </table>
                 </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="closeTemplate()">关闭
                </button>
                <!--<button type="button" class="btn btn-primary" ng-click="saveTemplate()">保存-->
                <!--</button>-->
            </div>
        </div><!-- /.modal -->
    </div>
</div>
