<div>
    <div class="modal" style="height:50%;width:80%; margin:0 auto; botton: auto" id="branchModalLabel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    分行日程
                </h4>
                <button type="button" class="close" ng-click="closeTemplate()" style="width: auto">
                    &times;
                </button>
                <button class="btn btn-primary" ng-click="addSchedule()">分配日程</button>
            </div>
            <div class="modal-body">
                <table style="width: 100%">
                    <tr>
                        <td>序号</td>
                        <td>分行名称</td>
                        <td>分行级别</td>
                        <td>完成</td>
                        <td>未完成</td>
                        <td>失败</td>
                        <td>合计</td>
                        <td>操作</td>
                    </tr>
                    <tr ng-repeat="e in schedule">
                        <td>{{$index + 1}}</td>
                        <td><input type="text" ng-model="e.NAME"/></td>
                        <td><input type="text" ng-model="e.LEVEL"/></td>
                        <td><input type="text" ng-model="e.finish"/></td>
                        <td><input type="text" ng-model="e.unfinished"/></td>
                        <td><input type="text" ng-model="e.fail"/></td>
                        <td><input type="text" ng-model="e.total"/></td>
                        <td><button type="button" class="btn btn-primary" ng-click="branchScheduleInfo($index)">▼</button></td>
                        <td><input type="text" ng-model="e.id" style="display: none" /></td>

                    <table style="width: 80%" ng-show="isShow">
                        <tr>
                            <td><input type="checkbox" ng-model="all"></td>
                            <td>人员名称</td>
                            <td>标题</td>
                            <td>内容</td>
                            <td>开始时间</td>
                            <td>结束时间</td>
                            <td>状态</td>
                            <td><button type="button" class="btn btn-primary" ng-click="deleteProj($index)">╳</button></td>
                        </tr>
                    <tr ng-repeat="x in branchStaffList" >
                    <td><input type="checkbox" ng-checked="all"></td>
                    <td><input type="text" ng-model="x.userName"/></td>
                    <td><input type="text" ng-model="x.title"/></td>
                    <td><input type="text" ng-model="x.body"/></td>
                    <td><input type="text" ng-model="x.startTime"/></td>
                    <td><input type="text" ng-model="x.endTime"/></td>
                    <td>
                        <input type="text" ng-if="x.TYPE==0" value="complete"/>
                        <input type="text" ng-if="x.TYPE==1" value="failed"/>
                        <input type="text" ng-if="x.TYPE==2" value="uncomplete"/>
                    </td>
                    <td><button type="button" class="btn btn-primary" ng-click="deleteProj($index)">╳</button></td>
                </tr>
                </table>
                 </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="closeTemplate()">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="saveTemplate()">保存
                </button>
            </div>
        </div><!-- /.modal -->
    </div>
</div>
