<div>
    <div class="modal" style="height:65%;width:95%; margin: 0 auto; botton: auto" id="editBranchInfoModalLabel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Edit Branch Information
                </h4>
                <button type="button" class="close" ng-click="closeTemplate()" style="width: auto">
                    &times;
                </button><br>
            </div>
            <div>
                <button style="margin-left: 20px;" class="btn btn-primary" ng-click="addBranchInfo()">Add branch</button>
                <input   style="margin-left: 900px;height: 30px;margin-top: 10px;" type="text" ng-model="searchData" placeholder="Enter information about search">
            </div>
            <div class="modal-body">
                <table style="width: auto;">
                    <tr>
                        <td>branch name</td>
                        <td>address</td>
                        <td>level</td>
                        <td>branch manager</td>
                        <td>phone</td>
                        <td>creat time</td>
                        <td>Action</td>
                    </tr>
                    <tr ng-repeat="e in branchInfoList | filter : searchData">
                        <td style="display: none">{{$index + 1}}</td>
                        <td><input type="text" style="width:180px;height:35px" ng-model="e.branchName" ng-if="e != undefined" ng-disabled='$parent["isDisabled"+{{e.branchId}}]'/></td>
                        <td><input type="text" style="width:180px;height:35px"  ng-model="e.branchAddress" ng-if="e != undefined" ng-disabled='$parent["isDisabled"+{{e.branchId}}]'/></td>
                        <td><input type="text" style="width:180px;height:35px;" ng-model="e.branchLevel" ng-if="e != undefined" ng-disabled='$parent["isDisabled"+{{e.branchId}}]'/></td>
                        <td><input type="text" style="width:180px;height:35px;" ng-model="e.branchManager" ng-if="e != undefined" ng-disabled='$parent["isDisabled"+{{e.branchId}}]'/></td>
                        <td><input type="text" style="width:180px;height:35px;" ng-model="e.phone" ng-if="e != undefined" ng-disabled='$parent["isDisabled"+{{e.branchId}}]'/></td>
                        <td><input type="text" style="width:180px;height:35px;" ng-model="e.creatTime" ng-if="e != undefined" disabled = "disabled"/></td>
                        <td class="btn-group" ng-if="e != undefined">
                            <a class="btn btn-primary" href="#">Action</a>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"></a>
                            <ul class="dropdown-menu" style="color: #68C2D0">
                                <li><button class="btn btn-primary" style="width: -webkit-fill-available;" ng-click="editRowBranchInfoButton($index)" href="#">Edit</button></button></li>
                                <li><button class="btn btn-primary" style="width: -webkit-fill-available;" ng-click="saveEditRowBranchInfoButton($index)" ng-disabled='$parent["isDisabled"+{{e.branchId}}]' href="#">Save</button></li>
                                <li><button class="btn btn-primary" style="width: -webkit-fill-available;" ng-click="deleteRowBranchInfoButton($index)"  ng-disabled='$parent["isDisabled"+{{e.branchId}}]' href="#">Delete</button></li>
                            </ul>
                        </td>

                        <!--<td><button type="button" style="height: 40px;margin: -7px 0 1px 0;" class="btn btn-primary" ng-if="e != undefined" ng-click="editRowBranchInfoButton($index)">edit</button></td>
                    <td><button type="button" style="height: 40px;margin: -7px 0 1px 0;" class="btn btn-primary" ng-if="e != undefined" ng-click="saveEditRowBranchInfoButton($index)" ng-disabled='$parent["isDisabled"+{{e.branchId}}]'>save</button></td>
                    <td><button type="button" class="close" ng-click="deleteRowBranchInfoButton($index)" ng-if="e != undefined" ng-disabled='$parent["isDisabled"+{{e.branchId}}]'>&times;</button></td>-->
                        <td><input type="text" style="display: none"  ng-model="e.branchId" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="closeTemplate()">close
                </button>
                <button type="button" class="btn btn-primary" ng-click="saveEditBranchInfo()" ng-disabled="isAllDisabled">save
                </button>
            </div>
        </div>
    </div>
    <div class="modal" style="height:80%;width:40%; margin:0 auto; botton: auto" id="myBranchModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        branch name：<br><input type="text" style="width:200px;height:35px" ng-model="addInfo.branchName"/>
                    </div>
                    <div>
                        location：<br><input type="text" style="width:200px;height:35px" ng-model="addInfo.branchLocation"/>
                    </div>
                    <div>
                        branch manager：<br><input type="text" style="width:200px;height:35px" ng-model="addInfo.branchManager"/>
                    </div>
                    <div>
                        phone：<br><input type="text" style="width:200px;height:35px" ng-model="addInfo.phone"/>
                    </div>
                    <div>
                        address：<br><textarea rows="5" style="width:300px;" ng-model="addInfo.branchAddress"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="closeBranchInfoWindow()">关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="saveAddBranchInfoButton()">保存
                        </button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
