<div>
    <div class="modal" style="height:50%;width:80%; margin:0 auto; botton: auto" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    备忘录日程{{e.endTime}}
                </h4>
                <button type="button" class="close" ng-click="closeTemplate()">
                    &times;
                </button>
                <button class="btn btn-primary" ng-click="addSchedule()">追加日程</button>
            </div>
            <div class="modal-body">
                <table style="width: 100%">
                    <tr>
                        <td>序号</td>
                        <td>业务类型</td>
                        <td>内容</td>
                        <td>开始时间</td>
                        <td>结束时间</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                    <tr ng-repeat="e in schedule">
                        <td>{{$index + 1}}</td>
                        <td><input type="text" ng-disabled="e.type == 0? true:false" style="width:200px;height:35px" ng-model="e.title"/></td>
                        <td><input type="text" ng-disabled="e.type == 0? true:false" style="width:200px;height:35px" ng-model="e.message"/></td>
                        <td>
                                <input ng-disabled="e.type == 0? true:false" class="form-control" placeholder="{{e.dateTime}}"
                                       moment-picker="ctrl.timepicker"
                                       ng-model="e.dateTime"
                                       format="HH:mm:ss"
                                      ng-model-options="{ updateOn: 'blur' }"
                                      show-header="false">
                        </td>
                        <td>
                            <input ng-disabled="e.type == 0? true:false" class="form-control" placeholder="{{e.endTime}}"
                                   moment-picker="ctrl1.timepicker"
                                   ng-model="e.endTime"
                                   format="HH:mm:ss"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   show-header="false">
                        </td>
                        <td>
                            <select ng-disabled="e.type == 0? true:false" ng-model="e.type" >
                                <option ng-repeat="item in sites" ng-value="item.val">{{item.site}}</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-primary" ng-click="deleteProj($index)">删除</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="closeTemplate()">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="saveTemplate()">保存
                </button>
            </div>
        </div><!-- /.modal -->
    </div>
</div>


