<div>
    <div class="modal" style="height:50%;width:100%; margin:0 auto; botton: auto" id="listModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Schedule Details
                </h4>
                <h4>
                    EverydaySchedule：<input style="width: 20%" type="text" ng-model="dayCount.maxCount" ng-disabled="isJudge"/>
                    <button class="btn btn-primary" ng-click="saveCount(dayCount.id,1)" ng-show="!isJudge">保存</button>
                    <button class="btn btn-primary" ng-click="updateCount()" ng-show="isJudge">编辑</button>
                </h4>
                <button class="btn btn-primary" ng-click="addSchedule()">Add Schedule</button>
            </div>
            <div class="modal-body">
                <table style="width: 100%">
                    <tr>
                        <td>序号</td>
                        <td>业务类型</td>
                        <td>内容</td>
                        <td>开始时间</td>
                        <td>结束时间</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                    <tr ng-repeat="e in schedule">
                        <td>{{$index + 1}}</td>
                        <td>{{e.title}}</td>
                        <td>{{e.message}}</td>
                        <td>{{e.dateTime}}</td>
                        <td>{{e.endTime}}</td>
                        <td><span ng-if="e.type == 0">Completed</span>
                            <span ng-if="e.type == 1">uncompleted</span>
                            <span ng-if="e.type == 2">Fail</span>
                        </td>
                        <td>
                            <button class="btn btn-primary" ng-click="deleteProj($index,e.id)">Delete</button>
                            <button class="btn btn-primary" ng-click="seeProj($index)">See</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="closeTemplate()">Close</button>
            </div>
        </div><!-- /.modal -->
    </div>
    <div class="modal" style="height:50%;width:80%; margin:0 auto; botton: auto" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div>
            <div class="modal-body">
                        业务类型：<input type="text" style="width:200px;height:35px" ng-model="singleEntity.title"/>
                        内容：<input type="text" style="width:200px;height:35px" ng-model="singleEntity.message"/>
                        开始时间：
                            <input class="form-control" placeholder="{{singleEntity.dateTime}}"
                                   moment-picker="ctrl.timepicker"
                                   ng-model="singleEntity.dateTime"
                                   format="HH:mm:ss"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   show-header="false">
                       结束时间：
                            <input class="form-control" placeholder="{{singleEntity.endTime}}"
                                   moment-picker="ctrl1.timepicker"
                                   ng-model="singleEntity.endTime"
                                   format="HH:mm:ss"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   show-header="false">
                        状态：
                        <select ng-model="singleEntity.type" >
                            <option ng-repeat="item in sites" ng-value="item.val">{{item.site}}</option>
                        </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="closeDetailsWindow()">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="saveTemplate()">保存
                </button>
            </div>
        </div>
    </div>
</div>


